*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.header
{
    height: 90px;
    width: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 2px;
    background-color: bisque;
}
.child0
{
 height: 90%;
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 1px;
}
.child1
{
    height: 85px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 58px;
    margin-left: 10px;

    object-fit: covers;
}
.child1 img
{
    height: 85px;
    width: 100px;
    object-fit: cover;
     border-radius: 50px;
}
.child2
{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.lien
{
    height: auto;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lien a
{
    text-decoration: none;
    padding: 10px;
    color: black;
   /*
    background-color: whitesmoke; */
   
}
.lien a:hover{
  background-color: rgb(158, 158, 199);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  transition: 1s;

}
.login>button
{
    
    background-color:rgb(78, 31, 187);
    padding: 10px;
    width: 100px;
    color: black;
    box-shadow: 1px 2px 3px black;
    border-radius: 50px;
    font-size: 15px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
footer
{
    height: 10vh;
    width: 100%;
    

}
.main_footer

 {
  background-color: #d1a9d4;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: #555;
}

.main_footer a {
  color: #a67c52;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}



